.button
  transition: $transition
  font-weight: 300
  text-transform: uppercase
  padding: 0.357em 1.429rem
  border-radius: 0

  &-top-login
    a
      font-size: 1em

  &-search
    background: none
    border: none
    color: $light-grey-color
    margin-left: -2.286rem
    outline: none

  &-color
    border: $accent-color 3px solid
    background: $accent-color

    &:hover
      background: inherit
      color: $accent-color

  &-transparent
    border: $accent-color 3px solid
    &:link, &:visited
      color: $accent-color

    &:hover
      background: $accent-color
      &:link, &:visited
        color: $white-text

  &-jumbotron
    margin: 10% 1%


  &-amber
    border-color: $white-text

    &:link, &:visited
      color: $white-text

    &:hover
      background: $white-text

      &:link, &:visited
        color: $accent-color

  &-icon
    i
      padding-left: 1.071rem

  &-no-bg
    background: none
