.card
  max-width: 280px
  position: relative
  border: none
  &-img-overlay
    padding: 0

    .icon-list
      display: none

    &:hover
      .icon-list
        display: flex

  &-bottom
    background: #3d3d3d

  &-text
    font-size: 11px

  &-img-top
    transition: $transition
    opacity: 0.6
    border-radius: 0

  &:hover
    .card-img-top
      opacity: 1

    .card-text-wrap, .like-numeral
      display: none



