.accent-text
  color: $accent-color
.accent-bg
  background: $accent-color
.white-text
  color: $white-text
.top-header-bg-color
  background: $top-header-color
.top-header-text-color
  color: $top-header-text-color