.accent
  &-text
    color: $accent-color!important

  &-bg
    background: $accent-color

.white
  &-bg
    background: $white-text

  &-text
    color: $white-text

.footer
  &-bg-color
    background: $footer-bg-color

  &-second-color
    color: $light-grey-color

.top-header
  &-bg-color
    background: $top-header-color

  &-text-color
    color: $light-grey-color

.light-grey-color
  color: $light-grey-color

