.comments
  background: #ecf0f3
  input, textarea
    width: 200px
    display: block
    border: none
    border-top: 1px $accent-color solid

  textarea
    width: 100%
    resize: none
  &-article
    background: $white