.expirience
  &-item
    max-width: 300px
    &-dots
      &:after
        content: "..."
        letter-spacing: 7px
        font-size: 4.286em
        position: absolute
        right: -35px
        top: 75px
        color: $white-text
      &:last-child
        &:after
          display: none

    &-bg
      width: 100px
      height: 100px
      &:after
        content: ""
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        background: #000
        width: 100px
        height: 100px
        border-radius: 50%