.icon
  position: relative
  &:before
    text-align: center
    width: 25px
    height: 25px
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-family: FontAwesome, sans-serif
    position: absolute

  &-circle-small
    transition: background 1s ease
    border-radius: 50%
    background: $accent-color
    padding: 10px 20px
    &:before
      color: #fff

    &:hover
      background: #fff
      color: $accent-color

  &-top
    &:before
      top: -8px
      left: 50%
      transform: translateX(-50%)

  &-left
    &:before
      left: 5px
    &-top
      &:before
        top: 10px

  &-right
    padding-right: 38px
    &:before
      left: 85%

  &-accent-color
    &:before
      color: $accent-color

  &-white-color
    &:before
      color: $white-text

  &-search
    &:before
      content: "\f002"

  &-pencil
    &:before
      content: "\f040"

  &-heart
    &:before
      content: "\f004"

  &-search-plus
    &:before
      content: "\f00e"

  &-chevron-right
    &:before
      content: "\f054"

  &-chevron-up
    &:before
      content: "\f077"

  &-user
    &:before
      content: "\f2be"

  &-user-2
    &:before
      content: "\f007"

  &-clock
    &:before
      content: "\f017"

  &-commenting
    &:before
      content: "\f27a"

  &-link
    &:before
      content: "\f0c1"

  &-like
    &:before
      content: "\f004"

  &-star
    &:before
      content: "\f005"

  &-trophy
    &:before
      content: "\f091"

  &-magic
    &:before
      content: "\f0d0"

  &-cloud
    &:before
      content: "\f0ee"

  &-comments
    &:before
      content: "\f086"

  &-gears
    &:before
      content: "\f085"

  &-phone
    &:before
      content: "\f095"

  &-rocket
    &:before
      content: "\f135"

  &-flag
    &:before
      content: "\f024"

  &-envelope
    &:before
      content: "\f003"

  &-twitter
    &:before
      content: "\f099"

  &-facebook
    &:before
      content: "\f09a"

  &-youtoobe
    &:before
      content: "\f167"

  &-instagram
    &:before
      content: "\f16d"

  &-pinterest
    &:before
      content: "\f231"

  &-size-18
    &:before
      font-size: 18px

  &-grey-circle
    &:before
      background: #3b4954
      border-radius: 50%


  &-features
    &:before
      font-size: 2.857em
      width: 38px
      height: 38px
      top: 40px
      left: 20px

  &-expirience
    &:before
      z-index: 10
      width: 100%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      font-size: 4.286em

  &-social
    &:before
      line-height: 1.6
      height: 50px
      width: 50px
      font-size: 2.143em

    &-facebook-bg
      &:before
        background: #415997

    &-twitter-bg
      &:before
        background: #35a0d1

    &-youtoobe-bg
      &:before
        background: #bd2e26

    &-instagram-bg
      &:before
        background: #7f5c48

    &-pinterest-bg
      &:before
        background: #9d0031
