.input
  &::placeholder
    font: $default-font
    color: $top-header-text-color
  &-search
    color: $top-header-text-color
    padding: 0 30px
    font: $secondary-font
    border: #434a50 solid 1px
    background: none