.input
  color: $top-header-text-color
  font: $secondary-font
  outline: none
  &::placeholder
    font: $default-font
    color: $top-header-text-color

  &-search
    border: darken($top-header-text-color, 20%) solid 1px
    background: none
    color: lighten($top-header-text-color, 30%)