.input
  color: $light-grey-color
  font: $secondary-font
  outline: none
  &::placeholder
    font: $default-font
    color: $light-grey-color

  &-search
    border: darken($light-grey-color, 20%) solid 1px
    background: none
    color: lighten($light-grey-color, 30%)