.navbar-wrap
  background: $background-color

.navbar-collapse
  font: 300 0.857rem/2.5rem "Oxygen", sans-serif

.navbar-light
  .navbar-nav
    .nav-link
      color: $white-text
.nav-item
  white-space: nowrap
  font: 300 12px/35px "Oxygen", sans-serif
  width: 15%
  padding: 15px 12px
  a:link, a:visited
    font-size: 12px

.navbar-brand
  margin-left: 20px


