$accent-color: #02baab
$second-accent-color: #c29c6e
$top-header-color: #000
$light-grey-color: #86939f
$background-color: #474747
$footer-bg-color: #212a32
$white-text: #fff
$line-color: #eee
$card-bottom-bg: #3d3d3d

$yellow: #f9ae08
$orange: #f47000
$rose: #dd115a
$pink: #a8008a
$violet: #6c00ac
$navy-blue: #352079
$blue: #338fcb
$i: 0
$color-list-header: ($yellow,$orange,$rose,$pink,$violet,$navy-blue,$blue)
$color-list-footer: ($violet,$blue,$pink,$yellow)


$h2-font: 300 4.28rem/3rem "Oxygen", sans-serif
$h3-font: 300 2rem/2.4rem "Oxygen", sans-serif
$h4-font: 300 1.6rem/2rem "Oxygen", sans-serif
$h5-font: 600 1.15rem/1.5rem "Oxygen", sans-serif
$default-font: 300 1rem/2.5rem "Oxygen", sans-serif
$secondary-font: 400 0.857rem/1.714rem "Lato", sans-serif
$small-font: 0.688rem
$big-font: 3rem
$footer-font-size: 12px

$transition: all 0.5s ease

